:root {
  --inner-text: #be5f00;
  --big-outline: #940000;
  --big-shadow: #940000;
  --outer-text: #d330cb;
  --big-color: #e6a122;
  --background: #172eff;
  --background2: #2e1c00;

  --font-title: 'Arial Black', monospace, sans-serif;
  --font-body: 'Comic Sans MS', monospace, sans-serif;
}
